ja-plus-leer
<p>Eine Ausrufung des Klimanotstands hat nur dann eine Bedeutung, wenn Handlungen folgen. Die
    Ausrufung darf keine Alibifunktion für die Regierenden haben. Konkrete Handlungsschritte müssen sofort erfolgen in Richtung einer dezentralen Energieversorgung, Verkehrswende, Stadtbegrünung und Vertragsvergabe nach ökologischeb Grundlagen.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>In den gesamten Grundsätzen von „Augsburg in Bürgerhand“ findet sich die Forderung nach kon-
    kreten Handlungsoptionen für die genannten Bereiche wieder.</p>