nein-plus
<p>Die Ausrufung eines sog. Klimanotstandes verändert das Weltklima in keiner
Weise. Unsere Ressourcen sollten sich lieber auf effizienten Klimaschutz vor
Ort (durch Kompensations- und Anpassungsmaßnahmen) konzentrieren. Außerdem
prüft die Stadt Augsburg bereits ihre Beschlüsse bzgl. verschiedener
(Umwelt-)Auswirkungen. Eine Verschärfung dieser Praxis sehen wir als nicht
notwendig an.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Wir haben uns <a
href="http://www.fdp-augsburg.de/news/augsburg-kann-beim-klimaschutz-mehr-selbst-tun/">gegen
die Ausrufung eines Klimanotstands ausgesprochen</a>.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Der Klimanotstand wird in unserem Wahlprogramm nicht thematisiert.</p>
