ja-plus
<p>Uns GRÜNEN ist bewusst, dass die Erde im Klimanotstand und im
Artennotstand ist. Den Klimanotstand auszurufen, kann ein adäquates
Mittel sein, um auf die Notwendigkeit hinzuweisen, dass schnell und
konsequent Maßnahmen zum Schutz des Klimas ergriffen werden müssen.
In Augsburg hat der Stadtrat mit seinem Beschluss vom 23.10.2019
deutlich gemacht, dass das Klima geschützt werden muss, und hat hierzu
eine konkrete Vorgehensweise beschlossen. Mit der Erarbeitung eines
Masterplans Klima bis Ende 2020, der Einrichtung einer
Klimaschutzkommission und der Einführung des Punktes „Klimaschützen“
bei der Nachhaltigkeitseinschätzung hat sich der Stadtrat dazu bekannt,
dass Maßnahmen ergriffen werden müssen. Und dies ist für uns das
Entscheidende. Ob dies alles ausreicht, wird die eingerichtete
Klimaschutzkommission beraten und entscheiden.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Hier die wichtigsten Anträge. Ausführlich finden Sie <a
href="https://gruene-augsburg.de/fraktion/">auf unserer Homepage</a> weitere
Anträge, den entsprechenden Bearbeitungsstatus und Presseerklärungen.</p>

<ol>
<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/lokale_forderungen_der_firdays_for_future_ortsgruppe_augsburg/">Antrag vom 13.10.2019:</a>
Die Stadtverwaltung wird beauftragt, zu den einzelnen Forderungen der Fridays
for Future Ortsgruppe Augsburg jeweils Stellung zu beziehen und die Umsetzung
der in dem Schreiben vom 23.10.2019 genannten Forderungen zu prüfen.</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/augsburg_handelt/">Antrag vom 17.10.2019:</a>
Die Stadtverwaltung wird beauftragt, zu den einzelnen Forderungen von „Augsburg
handelt“ jeweils Stellung zu beziehen und die Umsetzung der o.g. Forderungen zu
prüfen. Können Forderungen aus Sicht der Verwaltung nicht umgesetzt werden,
sind die Gründe genau zu erläutern. Können Forderungen umgesetzt werden, sind
die Schritte zur Umsetzung zu erläutern. Sind Forderungen aus dem o.g. Katalog
in der Umsetzung oder bereits umgesetzt, so ist auch dies darzustellen.</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/pruefantrag_solardaecher_und_begruenung_auf_bus_und_tramhaltestellen/">Antrag vom 22.08.2019:</a>
Prüfantrag Solardächer und Begrünung auf Bus- und Tramhaltestellen</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/solardaecher_fuer_augsburg_energiemanagementkonzept/">Antrag vom 14.02.2019:</a>
Solardächer für Augsburg – Energiemanagementkonzept</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/plastikvermeidung_durch_die_stadt/">Antrag vom 19.11.2018:</a>
Plastikvermeidung durch die Stadt</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/klimaschaedliche_und_ethisch_problematische_investitionen_beenden-1/">Antrag vom 5.07.2018:</a>
Klimaschädliche und ethisch problematische Investitionen beenden</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/luftreinhaltung_parkgebuehren_und_verwendung_der_einnahmen_daraus/">Antrag vom 21.03.2018:</a>
Luftreinhaltung: Parkgebühren und Verwendung der Einnahmen daraus</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/gutes_klima_in_einer_gruenen_stadt_augsburger_standard_fuer_klimagerechtes_und_nachhaltiges_bauen/">Antrag vom 9.02.2018:</a>
Gutes Klima in einer grünen Stadt: Augsburger Standard für klimagerechtes und nachhaltiges Bauen</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/gutes_klima_in_einer_gruenen_stadt_masterplan_freiraum/">Antrag vom 9.02.2018:</a>
Gutes Klima in einer grünen Stadt: Masterplan Freiraum</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/gutes_klima_in_einer_gruenen_stadt_moegliche_baumstandorte_in_der_innenstadt/">Antrag vom 09.02.2018:</a>
Gutes Klima in einer grünen Stadt: Mögliche Baumstandorte in der Innenstadt</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/gutes_klima_in_einer_gruenen_stadt_richtwerte_fuer_die_gruenversorgung_und_gruenflaechenfond_einrichten/">Antrag vom 09.02.2018:</a>
Gutes Klima in einer grünen Stadt: Richtwerte für die „Grünversorgung“ und Grünflächenfond einrichten</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/gutes_klima_in_einer_gruenen_stadt_hof_fassaden_und_dachbegruenungsprogramm/">Antrag vom 09.02.2018:</a>
Gutes Klima in einer grünen Stadt: Hof-, Fassaden- und Dachbegrünungsprogramm</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/leitfaden_nachhaltige_festivals_und_veranstaltungen/">Antrag vom 14.09.2017:</a>
Leitfaden „Nachhaltige Festivals und Veranstaltungen“</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/parken_fuer_carsharing_im_oeffentlichen_raum/">Antrag vom 03.05.2017:</a>
Parken für Carsharing im öffentlichen Raum</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/beteiligung_earth_hour_ab_2018/">Antrag vom 31.03.2017:</a> Beteiligung Earth Hour ab 2018</li>
</ol>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Klimaschutz ist ein Querschnittsthema und findet sich deshalb in <a
href="https://martina-wild.de/#wahlprogramm">verschiedenen Kapiteln unseres
Wahlprogramms</a> wieder: bei Wohnen, Natur, bauen, Mobilität, Sozialem,
Bildung, Wirtschaft und Stadtplanung.</p>

<p>Kapitel 1: 100 Prozent Klimaschutz für Augsburg. Seiten 12–23.</p>
