ja-plus-leer
<p>Wir denken, dass die Ausrufung des Klimanotstandes ein symbolischer Akt ist,
um vielen Menschen die Drastik des Problems und die dringliche Erfordernis
raschen konsequenten Handelns vor Augen zu führen. Ein bisschen Ölheizung
tauschen ab 2024 reicht da kaum aus &hellip;</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Die Linke hat in der gegenwärtigen Legislaturperiode viele Anträge zur
Verbesserung und Förderung des ÖPNVs und des Fahrradverkehrs gestellt. Viele
davon als „Ausschussgesellschaft“ (also zusammen mit ÖDP, Freien Wählern und
Polit-WG).</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel „Umwelt, Nachhaltigkeit, Tierschutz“, S. 15f.</p>
