nein-plus
<p>Die Ausrufung des Klimanotstandes bringt nichts, weil eigentlich jeder
inzwischen kapiert hat, wie prekär die Lage ist. Bei der Stadt gibt es auch
eine Vielzahl von sinnvollen Plänen, um hier gegenzusteuern. Man muss sie nur
auch mit Leben erfüllen und umsetzen! Und dazu müssen Sie die richtigen
Mehrheiten in den Stadtrat wählen z.B. indem Sie die ÖDP wählen :-)</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>zum Beispiel:</p>
<ul>
<li>Antrag zur Aufstockung des Personals in der Grünpflege beim AGNF vom 9.4.2019</li>
<li>Antrag gegen Aufnahme der Osttangente in das STEK vom 15.7.2018</li>
<li>Antrag ökologische Ausgleichsfläche statt Gewerbegebiet vom 15.7.2018</li>
<li>Antrag zur Sicherung von Baumstandorten im Stadtgebiet vom 25.10.2017</li>
</ul>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Das gesamte Programm der ÖDP will seit mehr als 30 Jahren nichts anderes als
eine intakte Umwelt auch noch für die nachfolgenden Generationen erhalten.
Dafür setzen wir uns auf allen Ebenen ein!</p>
