weder-noch-plus
<p>Das Ausrufen des Klimanotstands ist ein symbolischer Akt, der das
Bewusstsein in der Bevölkerung für den Klimaschutz schärft. Das ist wichtig,
löst aber keine Probleme unmittelbar. Die Ausrufung des Klimanotstands haben
wir bislang als Fraktion nicht beantragt, weil wir es bei diesem symbolischen
Akt als wichtig erachten, dass die Beantragung durch eine möglichst breite
Mehrheit im Stadtrat beantragt wird.</p>

<p>Von entscheidender Bedeutung – und nicht nur von reinem Symbolcharakter – ist
es, an den vielen (oft kleinen) Stellschrauben der Kommunalpolitik den
Klimaschutz voranzubringen: Den ÖPNV und die Nutzung des Fahrrads attraktiver
zu machen. Städtische Gebäude zu Sanieren und eine konsequente Strategie zur
Nutzung der Sonnenergie auf städtischen Liegenschaften umzusetzen. Wo immer
möglich Grünstrukturen zu erhalten und zu schaffen.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Wir haben im Rahmen unserer Stadtratsarbeit eine ganze Reihe von Anträgen
und Anfragen zur Verbesserung der Situation von Fahrradfahrer*innen (z.B. Grüne
Welle), zur Verbesserung des ÖPNV (z.B. Senioren- und Schülertickets, 365 Euro
Ticket, und wir haben als einzige Regierungspartei GEGEN die AVV-Tarifreform
gestimmt), zur Energieeinsparung bei städtischen Liegenschaften (Sanierung
Standesamt, Sanierung VZA) und zur Verbesserung des Mikroklimas (Verpflichtung
der Begrünung von Gärten, Baumerhalt, Ersatzpflanzungen) gestellt. Sämtliche
Anträge der SPD-Fraktion aus den vergangenen Jahren finden Sie <a
href="https://www.spd-stadtrat-augsburg.de/de/">auf unserer Homepage</a>.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Wir betrachten Klimaschutz als Querschnittsaufgabe, die sich durch nahezu
alle Politikfelder zieht. Von der klassischen Umweltpolitik über die
Energiepolitik bis hin zur Stadtplanung und der Sozialpolitik finden sich an
verschiedenen Stellen in unserem Wahlprogramm Aussagen zum Klimaschutz. Die
sozialpolitische Komponente ist uns als SPD dabei besonders wichtig. Wir legen
besonderen Wert darauf dass Klimaschutz nicht ein Projekt der Wohlhabenderen
ist oder dass Klimaschutz dazu führt, die soziale Spaltung in Augsburg und
Deutschland zu verstärken.</p>

<p>Unser Wahlprogramm finden Sie <a
href="https://spd-augsburg.de/workspace/media/static/wahlprogramm-2020-5dd58af7340b9.pdf">hier</a>.</p>

<p>Dort finden Sie an verschiedenen Stellen Aussagen mit Klimarelevanz, etwa zum
365 Euro Ticket und zu moderner Mobilität, zur Energiepolitik aber auch zur
Haushaltspolitik, die Maßnahmen zum Klimaschutz mit berücksichtigen muss.</p>
