ja-plus-leer
<p>Die V-Partei<sup>3</sup> bezeichnet die Forderung etwas freundlicher, nämlich als „Klimaoffensive“. Inhaltlich
    ist das Gleiche gemeint. Mit den Slogans „vote for future“ und „Enkelfreundliche Politik“ verleihen
    wir dieser inhaltlichen Ausrichtung entsprechenden Ausdruck.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>
    Die V-Partei<sup>3</sup> tritt zum ersten Mal bei einer Kommunalwahl in Augsburg an und hatte demnach bisher leider nicht die Möglichkeit, sich für verantwortungsvolle Politik im Augsburger Stadtrat einzusetzen. Das soll sich ab Mai 2020 ändern.
</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>
    Konkret bezeichnet z.B. auf <a href="https://v-partei.de/wp-content/uploads/wahlprogramm-v-partei-augsburg-2020.pdf">Seite 3</a>
</p>