nein-plus-leer
<p>Das Bewusstsein ist bei den meisten Menschen auch ohne die Ausrufung eines Klimanotstands bereits vorhanden – man sollte den Menschen mehr Mündigkeit zugestehen. Ausnahmen wird es immer geben, trotz Klimanotstand-Ausrufung.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>
    Wir haben mehrmals das 365-Euro-Ticket eingefordert, das damals die CSU, SPD und die Grünen
    ablehnten. Jetzt plötzlich finden wir das 365-Euro-Ticket in beinahe allen Wahlprogrammen wieder.<br>
    Darüber hinaus haben wir eine konkrete Vorstellung über die Neugestaltung der IV-Führung in der
    Innenstadt, um diese unter anderem vom Parksuchverkehr zu entlasten. Weitere klimafreundliche
    Ziele und Forderungen würden hier den Rahmen sprengen. Schließlich haben wir immer wieder
    Vorschläge anderer politischer Gruppierungen unterstützt, da wir als parteineutrale Bürgervereinigung nach dem Motto verfahren: „Es ist egal, woher eine gute Idee kommt, Hauptsache sie ist gut
    für Augsburg.“
</p>