ja
<p>Bei Augsburg in Bürgerhand sind viele Helfer und Mitglieder auch bei der
solidarischen Landwirtschaft Augsburg engagiert. Daher sehen wir es als eine
essenzielle Kernaufgabe an, uns für die Bewahrung und Verbreitung biologisch
sowie regional und saisonal erzeugter Lebensmittel einzusetzen. Schon heute
ist es möglich, durch solidarische Landwirtschaft Menschen mit nachhaltigen
Lebensmitteln aus der Region zu versorgen. Dieses Selbstverständnis geht über
die reine Produktion hinaus und verbindet wieder Verbraucher und Landwirte direkt
miteinander, mit demokratischer Teilhabe, in einer solidarischen und
zukunftsweisenden Form.</p
<p>Mit dem Fokus auf biologischen Gemüseanbau setzen wir
einen Schwerpunkt für eine regionale, vegane und klimafreundliche Ernährung.
Kurze Wege und die Ausschaltung des Großhandels sind für uns wichtige
Bestandteile. Wir sehen darin auch einen Ansatz für Kantinen (insbesondere
Schu- len), öffentliche Einrichtungen und Veranstaltungen. Die Quoten für den
Anteil von regional und biologisch erzeugten Lebensmitteln von 30&nbsp;% in
städtischen Einrichtungen und 100&nbsp;% bei allen städtischen Veranstaltungen
sollten längst erfüllt sein und auf 100&nbsp;% in städtischen Einrichtungen
erweitert werden. Daher unterstützen wir die unter <a href="#08-aib">Punkt 8</a>
genannten Forderungen. Zudem lehnen wir jegliche tierverachtende
Massentierhaltung entschieden ab. Wir bedauern, dass „Augsburg handelt“ die
regionale Versorgung durch die Solidarische Landwirtschaft Augsburg nicht
unterstützt.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p><a href="https://www.augsburg-in-buergerhand.de/?page_id=194">Hier</a></p>

<p>Gerne verweisen wir auch hierzu auf die <a
href="https://solidarische-landwirtschaft-augsburg.de/das-wollen-wir.html">Grundsätze
der solidarischen Landwirtschaft Augsburg</a>, die wir vollumfänglich
mittragen.</p>
