weder-noch
<p>Wir wollen bei Ernährungsfragen niemandem vorschreiben, wie er/sie sich zu
ernähren hat. Je mehr Bürgerinnen und Bürger die Entscheidung treffen, aus
Gründen des Klimaschutzes sich vegetarisch/vegan und/oder mit Bio-Produkten zu
ernähren, desto besser ist dies für den Klimaschutz, wobei hier auch das
marktwirtschaftlche Prinzip des Angebots und Nachfrage genutzt wird. Der
größere Hebel ergibt sich daher aus den individuellen Entscheidungen der
Menschen, nicht durch Vorgaben der Politik. Daher lehnen wir Quoten oder
Vorgaben von Seiten der Politik ab.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Keine Angabe möglich, da wir nicht im Stadtrat vertreten waren.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>—</p>
