ja
<p>Bereits unter dem ersten GRÜNEN Umweltreferent wurde 2007 Augsburg
durch Stadtratsbeschluss Biostadt. Ziel war und ist, den Anteil an
ökologischen, regionalen und saisonalen Lebensmitteln in städtischen
Einrichtungen oder bei städtischen Veranstaltungen zu erhöhen. Durch
Anfragen und Anträge haben wir das Thema immer wieder aktualisiert
und weiter vorangebracht. Für uns ist auf jeden Fall klar, dass die
Biostadt-Beschlusslage endlich konsequent umgesetzt werden muss.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<ol>
<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/biostadt_augsburg_massnahmen_zur_verbesserung_der_verpflegung_in_augsburger_schulen_mit_bio_lebensmitteln/">Antrag vom 06.07.2018:</a>
Biostadt Augsburg: Maßnahmen zur
Verbesserung der Verpflegung in Augsburger Schulen mit Bio-
Lebensmitteln</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/gemeinsamer_antrag_biostadt/">Antrag
vom 12.07.2017:</a>
Gemeinsamer Antrag Biostadt</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/sachstandsbericht_biostadt_augsburg/">Antrag vom 21.06.2017:</a>
Sachstandsbericht Biostadt Augsburg</li>
</ol>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel 2.10 (Gesundes Essen), Seiten 36–37</p>
