ja
<p>Die wissenschaftlichen Studien sind ja bekannt. Ob die katastrophale
Regenwaldrodung für den Futtermittelanbau für den Drittgrößten Abnehmer, die
europäische Massentierhaltung, oder die Methanproduktion durch Wiederkäuer: Die
Massentierhaltung ist eine treibende Kraft in Sachen Klimaveränderung und darf
von Augsburg nicht länger ignoriert werden!</p>
<p>Uns liegt aber auch die Gesundheit aller Bürger*innen am Herzen. Egal ob jung
oder alt. Wir setzen uns daher dafür ein, dass in öffentlichen Einrichtungen
wie Kindergärten, Schulen, Mensen, Altenheimen, Pflegeeinrichtungen und
Krankenhäusern ausgewogene pflanzlich-vollwertige und damit gesunde
Nahrungsmittel in Bioqualität, d. h. frei von Ackergiften, angeboten werden.
Und das muss unabhängig von den finanziellen Möglichkeiten der Nutzer erfolgen.
In konventionellen Nahrungsmitteln finden sich Rückstände von Pestiziden,
Fungiziden und Herbiziden, die der Gesundheit nicht nur von Kleinkindern und
Senioren schaden. Dieser jahrzehntelanger Verantwortungslosigkeit muss endlich
Einhalt geboten werden. Wir lassen auch die Ausreden nicht länger gelten, dass
Bio mangels entsprechendem CateringAngebot nur zu einem geringen Anteil ginge.
Eine große Anzahl von Einrichtungen kocht selbst, die Küchen können bei
entsprechenden politischen Vorgaben schon morgen auf verantwortungsvolle Kost
umstellen – die V-Partei³ wird sich dafür stark machen!</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>siehe <a href="#03-v-partei">Antwort auf Frage 3</a> und diverse
Schreiben/Pressemitteilungen</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel 7.3</p>
