body { font-family: sans-serif; margin: 0; color: #1d1d1d; }
main { margin-left: auto; margin-right: auto; max-width: 50em; padding: 0.5em; }

header, footer {
  padding: 1em;
  line-height: 1.5em;
}
@media (min-width: 40em) { header, footer { padding-left: 10em; } }

@font-face {
  font-family: 'Jost';
  src: url('Jost-reduced.woff');
  font-display: swap;
}

header ul { display: block; margin: 0; padding: 0; }
header li { display: inline; }

header { background: linear-gradient(to right, #ffffff 0%,#009ee0 62%,#009ee0 75%,#53b278 87%); }
header a { font-weight: bold; color: #4d3650; }
header a.current { border-bottom: 3px solid black; }
footer { background: linear-gradient(to bottom, #009ee0 0%,#53b278 100%); }
footer a { color: black; }

h1 { font-size: 2.5em; text-transform: uppercase; }
@media (min-width: 40em) { h1 { font-size: 4em; } }

.highlight {
  background: linear-gradient(to right, #009ee0 1%,#53b278 100%);
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Jost, sans-serif;
}

h2 { padding-top: 1em; }

li { padding: 0.3em; line-height: 1.3em; }

a { text-decoration: none; color: #0000ff; }
a:hover { text-decoration: underline; }

hr { width: 100%; }

td { vertical-align: top; padding-bottom: 0.5em; text-align: justify; }

p { text-align: justify; line-height: 1.3em; max-width: 40em; font-size: larger; }

#logos { text-align: justify; }
@media (min-width: 40em) {
  #logos { zoom: 2; width: 150%; margin-left: -25%; }
}

#logos img { text-align: center; vertical-align: middle; margin-bottom: 0.5em; padding: 0.07em; width: auto; }

@media only screen and (max-width: 40em) {
  #logos { order: 3; }
  #letter { order: 1; }
  #sign-up { order: 2; }
  #press { order: 4; }
}
