ja
<p>Das Ziel der Fahrradstadt bis 2020 und die Entwicklung des ÖPNV zu einer
attraktiven Alternative zum Individualverkehr wurde nur in Maßen und viel zu
vorsichtig angegangen. Wir haben deshalb Mobilität zu einem großen Schwerpunkt
unserer Vision 2026 gemacht und diverse Projekte angestoßen.</p>
<p>Ein weiterer wichtiger Punkt ist ein weiterer Ausbau als Umwelttechnik und
-forschungszentrum um aktiv an der Entwicklung von Technologien
mitzuwirken.</p>
