weder-noch
<p>Ja und nein. Die aktuelle Stadtregierung hat an verschiedenen Stellen wichtige
Impulse gesetzt, die es ohne eine Regierungsbeteiligung der SPD und der Grünen
in den Jahren zuvor nicht gegeben hätte. Die SPD hat sich gleich zu Beginn der
Legislaturperiode beispielsweise für die energetische Sanierung des
Verwaltungszentrums an der Blauen Kappe stark gemacht. Dass diese jetzt unter
erheblichem finanziellen Aufwand erfolgt, sehen wir als einen Beitrag an.</p>

<p>Im Bereich der Fahrradstadt hätte mehr passieren können. Wir haben uns u.a.
beispielsweise dafür eingesetzt, dass der Westfriedhof als Teil der
Fahrradachsen mit dem Fahrrad durchquert werden darf. Zumindest hätten wir uns
einen Modellversuch dazu gewünscht.</p>

<p>Bei den erneuerbaren Energien sind wir zum Teil ziemlich gut, etwa bei der
Busflotte der Stadtwerke. Bei der Nutzung erneuerbarer Energien auch auf
städtischen Gebäuden haben wir uns für ein ambitionierteres Vorgehen
eingesetzt.</p>

<p>Wir setzen uns aktuell dafür ein, dass Augsburg ein Power-to-x Kraftwerk
errichtet und Teile des kommunalen Fuhrparks auf wasserstoffbasierte Antriebe
umstellt. Hier haben wir mit MAN Energy Solutions einen wichtigen Player in der
Stadt, dessen Expertise anderswo intensiver genutzt wird als in Augsburg.</p>
