ja
<p>Eine systematische Reduktion des mobilisierten Individualverkehrs ist
zwingend erforderlich. Die Reduktion der Belastungen in der Innenstadt und den
Stadtteilen ist eine grundlegende Forderung für die Verbesserung der
Lebensqualität und Gesundheit der Menschen.</p>
<p>Eine Verkehrswende ist jetzt umzusetzen. Massiver Ausbau des öffentlichen
Nahverkehrs und Stär- kung des Fahrradverkehrs sind dabei grundlegende
Kernziele. Auch die grundlegende Gestaltung des Wohn- und Lebensraums über ein
Stadtteilentwicklungskonzept soll die Notwendigkeit des In- dividualverkehrs
verringern. Stadtteile müssen so entwickelt werden, dass wieder intakte Versor-
gungsstrukturen und auch Arbeitsplätze durch Kleingewerbe und regionale
Unternehmen entste- hen können. Stadtteile brauchen „Begegnungszentren“, die
auch eine nahe soziale Versorgung und Begegnung ermöglichen. Dadurch
könnenVerkehrswege neu gestaltet und Fuß- und Radwege aus- gebaut werden. Die
Beschleunigung der Lebensräume ist durch ein Tempolimit im beschriebenen Maße
anzustreben.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<ul>
<li><a href="https://www.augsburg-in-buergerhand.de/?page_id=682">Hier</a>
<li><a href="https://www.augsburg-in-buergerhand.de/?page_id=672">Hier</a>
</ul>
