weder-noch
<p>Intelligente Mobilität bedeutet nach Ansicht der CSU-Fraktion, dass jede/r
jeden Tag aufs Neue entscheiden kann, welche Fortbewegungsart für sie / ihn die
richtige ist. Der Autoverkehr kann sich nur dann auf ein für den verdichteten
Stadtraum verträgliches Maß reduzieren, wenn wir intelligente
Mobilitätsangebote für alle schaffen. Nicht das gegenseitige Ausspielen der
verschiedenen Fortbewegungsarten führt zu einem Mobilitätswandel, sondern die
Steigerung der Attraktivität von klimafreundlichen Verkehrsmitteln.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>—</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Mobilität: S. 32-37</p>
