weder-noch
<p>Wir wollen Fahrräder und den öffenltichen Nahverkehr zu echten Alternativen
zum Auto machen, ohne das Auto zu verteufeln. Da Autos in Zukunft emmissionsfrei
unterwegs sein werden, ist eine gezielte Verdrängung des Autos aus
klimapolitischen Gründen nicht notwendig.</p>

<p>Allerdings stellt der Autoverkehr eine Belastung für große Teile der Stadt dar.
Deswegen wollen wir zum Beispiel die Innenstadt durch die Einführung eines
Schleifensystems (nach Münchner und Nürnberger Vorbild) für den
Durchgangsverkehr sperren und verkehrsberuhigen, allerdings weiterhin für
Anwohner, Gewerbetreibende, Kunden und Lieferanten zugänglich lassen. Die frei
werdenden Verkehrsflächen der dann ehemaligen Durchgangsschneisen wollen wir
für mehr Grün, Fahrradwege und Spielplätze nutzen. Im Bereich der
Jakobervorstadt wollen wir die überbauten Lechkanäle wieder öffnen und so
weitere Teile des UNESCO-Weltkulturerbes zugänglich machen.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Keine Angabe möglich, da wir nicht im Stadtrat vertreten waren. Siehe <a
href="http://www.fdp-augsburg.de/news/weltkulturerbe-in-der-jakobervorstadt-wiederherstellen/">hier</a>.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Aussagen zur Verkehrspolitik finden sich in <a
href="http://www.fdp-augsburg.de/kommunalwahl-2020/wahlprogramm/#wp_1">Kapitel 1</a>.</p>
