ja
<p>Unser Konzept des Aufbaus von Superblocks in Augsburg basiert auf der Idee,
den Durchgangsverkehr in Wohnvierteln zu unterbinden um attraktive
Gemeinschaftsflächen zu schaffen. Gleichzeitig ist das Queren von Stadtvierteln
mit dem Rad oder zu fuß erlaubt. Wir sind überzeugt, dass eine solche Regelung
nicht nur die Aufenthaltsqualität in den Stadtvierteln erhöht, sondern auch
gleichzeitig den Komfort alternativer CO₂-freier Verkehrsmittel gegenüber dem
Auto erhöht. Andere Städte haben dieses Konzept bereits erfolgreich umgesetzt,
mit der Wirkung, das Strecken mit dem Rad teilweise dreimal so schnell
bewältigt werden konnten, als mit dem Auto und hierdurch der Anteil des PKW am
Gesamtverkehrsaufkommen innerhalb weniger Jahre signifikant zurück ging.</p>
<p>Wir fordern ebenso eine Reduzierung des Stellplatzschlüssels in Bebauungsplänen
um die Flächen für die Gemeinschaft zu nutzen und der Mobilitätswende Rechnung
zu tragen.</p>
