ja
<p>Wir wollen eine menschengerechte, gesunde Stadt mit hoher
Aufenthaltsqualität und werden deshalb Maßnahmen ergreifen, um den
MIV der einen hohen Anteil an der Schadstoff- und Lärmbelastung trägt,
zugunsten von Fuß und Radverkehr, Bus und Tram zurückdrängen. Wir
möchten autofreie Quartiere, Schulstraße nach dem Wiener Modell und
Geschwindigkeitsbegrenzungen auf 30&nbsp;km/h sollen wo immer möglich, die
Regel sein.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Hier ein Auszug unserer Anträge, die sich mit dem Thema Reduzierung des
MIV befassen. Weitere Anträge und entsprechende Presseerklärungen
finden Sie <a href="https://gruene-augsburg.de/home/">auf unserer
Homepage</a>.</p>

<ol>
<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/holbein_camus_hallstrasse/">Antrag vom 27.11.2019:</a>
Holbein-Camus / Hallstraße</li>
<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/auf_dem_weg_zur_autofreien_innenstadt/">Antrag vom 27.11.2019:</a>
Auf dem Weg zur autofreien Innenstadt</li>
</ol>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel 3 (Seiten 46–57) und insbesondere Kapitel 3.6 (Weniger PKW und
LKW in Augsburg, Seiten 52–55)</p>
