ja
<p>Wir fordern Tempo 30 im ganzen Stadtgebiet, mehr und bessere Radwege, eine
Periodisierung des ÖPNV und des Fuß- und Radverkehrs mit entsprechenden
Signalanlagenschaltungen. Mehr Grün dort, wo Fläche durch den Rückbau von
Parkplätzen und Straßen gewonnen wird.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel „Mobilität“, S. 10f.</p>
