ja
<p>Besser heute als morgen!</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>z.B. durch Pressearbeit gegen einen IHK-Neubau auf dem Alpini-Park am 3.10.2015</p>
