ja
<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p><a
href="https://ratsinfo.augsburg.de/bi/to020.asp?TOLFDNR=24519">Erfolgreicher
Antrag der Polit-WG im Stadtrat zum Beschluss zur neuen CityZone:</a> „6. Die
Verwaltung wird beauftragt, im Jahr 2022 eine Evaluierung der Wirksamkeit in
Bezug auf die Frage der Verkehrs- und Schadstoffreduzierung im
Innenstadtbereich durchzuführen.“</p>
