ja
<p>Dies lässt sich nur mit entsprechenden, motivierenden Rahmenbedingungen
realisieren, z. B. mit einem kostenlosen ÖPNV und der Verknappung bzw.
Verteuerung von Verkehrs- und Parkraum.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>siehe <a href="#03-v-partei">Antwort auf Frage 3</a></p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel 5.1–5.7</p>
