ja
<p>Schon 1972 wurde in der Studie des „Club of Rome“ zur Zukunft der Weltwirtschaft wissenschaftlich herausgearbeitet, dass es „Grenzen des Wachstums“ gibt. Unter anderem wurden dort die Ausbeutung der Rohstoffreserven und die Zerstörung von Lebensraum untersucht und eine Krise globalen Ausmaßes prognostiziert. Durch die neoliberale Globaliserung wurde das ungebremste Wachstum weiter angeheizt. Heute erleben wir das Ausmaß dieser Entwicklung als Krisen in verschiedenen Bereichen (Wirtschafts-, Finanz-, Soziale-, Rohstoff-, Klimakise). Um den inneren Zusammenhang dieser Krisenphänomene zum Ausdruck zu bringen und eine globale Perspektive aufzuzeigen ist unsere Forderung in der Klimakrise die nach „Globaler Klimagerechtigkeit“.<br>
    <br>
    Leider hat „Augsburg handelt“ diese globale Grundlage für Klimagerechtigkeit in seinem Programm nicht aufgenommen.</p>
