ja
<p>Die Klimaforscher weltweit sind sich nicht nur darin einig, dass es einen
Klimawandel gibt sondern sie stimmen auch darin überein, dass er zu ganz
wesentlichen Teilen vom Menschen verursacht wird.</p>

<p>Die SPD steht seit ihrem Entstehen für eine Politik, die sich an
(wissenschaftlichen) Fakten orientiert. Ferdinand Lassalle hat den Ausspruch
geprägt: <q>Alle große politische Aktion beginnt damit, auszusprechen, was ist.</q>
Das gilt für uns auch wenn man es heute nicht mehr so sagen würde, heute noch.
</p>
