ja
<p>Augsburg ist weit davon entfernt, "Fahrradstadt" zu sein. Es muss daher
einen massiven Ausbau der Radverkehrsanlagen und des Radwegenetzes geben. Als
wichtiger Schritt hin zu mehr Sicherheit gilt es, die Radverkehrsführungen an
Kreuzungen umfassend abzusichern. Insofern entsprechen die unter Punkt 5
genannten Maßnahmen unseren Vorstellungen.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p><a href="https://www.augsburg-in-buergerhand.de/?page_id=682">Hier</a></p>
