weder-noch
<p>Weiter und verstärkt wollen wir den Fahrradverkehr als gleichberechtigten
Verkehrsteilnehmer stärken. Dazu gehört neben dem konsequenten Ausbau der
Radwege-Infrastruktur (Fahrradstadt) und der Erarbeitung eines
Radwegeschnellnetzes auch die Festlegung je eines sicheren Radwegs aus jedem
Stadtteil in die Innenstadt. Aber auch Einbahnstraßenregelungen, die weitere
Errichtung von Fahrradstraßen oder Aufstellflächen vor Ampeln/Kreuzungen sollen
nach dem Willen der CSU-Fraktion konsequent geprüft und umgesetzt werden.
Abstellplätze, nicht nur für »normale« Zweiräder, sondern auch für
Lastenfahrräder, werden weiter ausgebaut.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Das Gesamtprojekt Fahrradstadt 2020 mit allen Maßnahmen und Teilmaßnahmen
wurde auf Initiative und mit fachlicher und politischer Begleitung der
CSU-Fraktion umgesetzt.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Mobilität: S. 32-37</p>
