ja
<p>CSU, SPD und Grüne fordern in ihren Wahlprogrammen die Verwirklichung der
Fahrradstadt, haben dafür in den sechs Jahren, in denen sie die Rathauskoalition
gebildet haben, nur wenig geleistet. Das Realisierungskonzepts „Fahrradstadt
Augsburg“ liegt seit 2016 vor, wurde aber nach Darstellung des
Fahrradstadt-Beirats nur bruchstückhaft umgesetzt.</p>

<p>Wir werden uns für die Realisierung des Konzepts einsetzen.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Keine Angabe möglich, da wir nicht im Stadtrat vertreten waren.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Fahrradverkehr findet sich in <a
href="http://www.fdp-augsburg.de/kommunalwahl-2020/wahlprogramm/#wp_1">Kapitel
1.2 unseres Kommunalwahlprogramms</a>.</p>
