ja
<p>Das Rad muss neben dem ÖPNV zum wichtigsten Fortbewegungsmittel in
unsere Stadt werden und unsere Stadt eignet sich hierfür auch ganz
besonders. Dafür brauchen wir ein flächendeckendes Netz aus sicheren
Radwegen und Radschnellwegen, Fahrradstraßen und durchgehend breite
Radwege. Wir wollen, dass zusammenhängende Fahrradachsen in Stadt
und Region entstehen und Lücken im Netz geschlossen werden.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<ol>
<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/fahrradstrasse_konrad_adenauer_allee/">Antrag vom 20.03.2019:</a>
Fahrradstraße Konrad Adenauer-Allee</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/kampagne_fahrradstrasse/">Antrag vom 22.08.2019:</a>
Kampagne Fahrradstraße</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/abstellflaechen_fuer_lastenraeder_in_der_innenstadt_und_schnelle_evaluierung_des_foerderprogramms_lastenraeder/">Antrag vom 14.08.2019:</a>
Abstellflächen für Lastenräder in der
Innenstadt und schnelle Evaluierung des Förderprogramms
Lastenräder</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/verkehrssicherheit_laengerer_gruenvorlauf_fuer_radfahrerinnen_pilotprojekt_alles_gruen_phase/">Antrag vom 20.09.2018:</a>
Verkehrssicherheit: längerer Grünvorlauf
für Radfahrer*innen, Pilotprojekt Alles-Grün-Phase</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/verkehrssicherheit_vorgezogene_haltelinien_und_aufstellraeume_fuer_radfahrerinnen/">Antrag vom 20.09.2018:</a>
Verkehrssicherheit: vorgezogene
Haltelinien und Aufstellräume für Radfahrer*innen</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/fahrradstadt_2020_verwendung_der_haushaltsmittel/">Antrag vom 31.07.2018:</a>
Fahrradstadt 2020, Verwendung der
Haushaltsmittel</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/freigabe_der_fussgaengerzone_fuer_den_radverkehr/">Antrag vom 28.06.2018:</a>
Freigabe der Fußgängerzone für den
Radverkehr</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/kampagne_fahrradstrasse/">Antrag vom 22.08.2019:</a>
Kampagne Fahrradstraße</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/browse/5/">Antrag vom 15.05.2018:</a>
Fahrradabstellplätze am Bahnhalt
Morellstraße</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/fahrradschutzstreifen_in_der_hermanstrasse/">Antrag vom 15.12.2017:</a>
Fahrradschutzstreifen in der Hermanstraße</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/fahrradstadt_2020_verkehrssicherheit_beim_abbiegen/">Antrag vom 12.04.2017:</a>
Fahrradstadt 2020: Verkehrssicherheit
beim Abbiegen</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/fahrradstadt_2020_freigabe_der_fussgaengerzone_fuer_den_radverkehr_oeffentlichkeitskampagne_fuer_ein_vernuenftiges_miteinander_der_verschiedenen_verkehrsteilnehmerinnen/">Antrag vom 22.03.2017:</a>
Fahrradstadt 2020: Freigabe der
Fußgängerzone für den Radverkehr, Öffentlichkeitskampagne für
ein vernünftiges Miteinander der verschiedenen
VerkehrsteilnehmerInnen</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/fahrradschnellweg_nach_koenigsbrunn/">Antrag vom 08.12.2016:</a>
Fahrradschnellweg nach Königsbrunn</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/fahrradabstellplaetze_in_der_innenstadt/">Antrag vom 17.10.2016:</a>
Fahrradabstellplätze in der Innenstadt</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/antrag_regionales_radverkehrskonzept/">Antrag vom 11.08.2015:</a>
Antrag regionales Radverkehrskonzept</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/radfahrspuren_auf_der_maximilianstrasse/">Antrag vom 25.02.2015:</a>
Radfahrspuren auf der Maximilianstraße</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/radverkehr_jakoberstrasse_in_beide_richtungen/">Antrag vom 24.07.2014:</a>
Radverkehr Jakoberstraße in beide
Richtungen</li>
</ol>

<p>Diese Aufzählung ist nicht vollständig. Weitere Anträge und
Presseerklärungen finden Sie <a href="https://gruene-augsburg.de/home/">auf
unserer Homepage</a>.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel 3.3: Mit dem Rad durch Augsburg – Fahrrad First: schnell, leise,
umweltfreundlich (Seiten 46–49)</p>
