ja
<p>Hier gibt es viel zu tun. Die Stadt muss hier endlich auf die PraktikerInnen
hören, die tagtäglich mit dem Rad im Stadtgebiet unterwegs sind. Die Einführung
eines Onlinedienstes wie <a href="https://www.radar-online.net/home">RADAR</a>
ist überfällig.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>z.B. Antrag auf sofortige flächendeckende Aufstellung von Trixi-Spiegeln in
Augsburg vom 8.6.2019</p>
