ja
<p>Vor allem die Abstellmöglichkeiten für Lastenräder müssen
massiv verbessert werden. Hier ist auch an eine Überarbeitung der
Stellplatzordnung für Bauherren ohne eine Ablösemöglichkeit zu denken. Die
Stadt soll gerade auch auf Besitzer von großen Wohnanlagen zugehen und
Beratungsleistungen für die Umgestaltung von Gemeinschaftsflächen oder
Umwidmung von privaten PKW-Stellplätzen zu Stellplätzen von
(Lasten-)Fahrrädern bieten. Es ist ein Unding, dass jede Mülltonne besseren
Schutz genießt als Fahrräder!</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<ul>
<li>Teilnahme als Stadtrat im Arbeitskreis Fahrradstadt der Stadt Augsburg mit einigen Vorschlägen zu Verbesserungen (Protokolle leider gerade nicht im Netz abrufbar&hellip;)
<li><a href="https://ausschussgemeinschaft.de/dringlichkeitsantrag-zur-sanierung-der-eichleitnerstrasse-bsv-19-03190-fuer-den-kommenden-stadtrat-am-25-07-2019/">Dringlichkeitsantrag zur Sanierung der Eichleitnerstraße (BSV/19/03190) für den kommenden Stadtrat am 25.07.2019</a></li>
<li><a href="https://ausschussgemeinschaft.de/polit-wg-fordert-die-anwendung-der-bereits-bestehenden-standardanforderungen-zur-fahrradstadt/">Polit-WG fordert die Anwendung der bereits bestehenden Standardanforderungen zur Fahrradstadt</a></li>
<li><a href="https://ausschussgemeinschaft.de/dringlichkeitsantrag-zur-sanierung-der-schertlinstrasse-bsv-19-02931/">Dringlichkeitsantrag zur Sanierung der Schertlinstraße (BSV/19/02931)</a></li>
<li><a href="https://ausschussgemeinschaft.de/anfrage-an-herr-dr-casazza-zu-einer-werbeaktion-abstand-von-150-metern-halten/">Anfrage an Herr Dr. Casazza zu einer Werbeaktion Abstand von 1,50 Metern halten</a> (Anfrage auch an die Polizei Schwaben)</li>
<li><a href="https://ausschussgemeinschaft.de/antrag-erweiterung-der-fahrrad-stellplatzsatzung/">Antrag: Erweiterung der (Fahrrad-)Stellplatzsatzung</a></li>
<li><a href="https://ausschussgemeinschaft.de/antrag-absenkung-der-bordsteinkantenabsenkung-die-fuer-fahrradfahrer-passierbar-sein-sollen/">Antrag:  Absenkung der Bordsteinkantenabsenkung, die für Fahrradfahrer passierbar sein sollen</a></li>
<li><a href="https://ausschussgemeinschaft.de/antrag-zum-projekt-fahrradstadt-2020/">Antrag zum Projekt Fahrradstadt 2020</a></li>
<li><a href="https://ausschussgemeinschaft.de/antrag-stadtrat-setzt-ueber-seine-mitglieder-im-aufsichtsrat-bei-den-stadtwerken-augsburg-durch-dass-in-den-strassenbahnen-der-avv-kuenftig-fahrraeder-mitgenommen-werden-duerfen/">Antrag  Stadtrat setzt über seine Mitglieder im Aufsichtsrat bei den Stadtwerken Augsburg durch, dass in den Straßenbahnen der AVV künftig Fahrräder mitgenommen werden dürfen</a></li>
<li><a href="https://ausschussgemeinschaft.de/406/">Anfrage: Mitnahme von BMX Rädern in Straßenbahnen und Bussen</a></li>
<li><a href="https://ausschussgemeinschaft.de/antrag-fahrradparkhaus/">Antrag Fahrradparkhaus</a></li>
<li><a href="https://ausschussgemeinschaft.de/erstwohnsitzkampagne-unter-studierenden-fahrraeder-verlosen/">Erstwohnsitzkampagne unter Studierenden: Fahrräder verlosen</a></li>
<li><a href="https://www.polit-wg.de/news_details.php?id=74&title=Pressemitteilung%3A%20Eichleitnerstra%C3%9Fe%20und%20Fahrradstadt">Pressemitteilung: Eichleitnerstraße und Fahrradstadt</a></li>
<li><a href="https://www.polit-wg.de/news_details.php?id=76&title=Polit-WG%20fordert%20die%20Anwendung%20der%20bereits%20bestehenden%20Standardanforderungen%20zur%20Fahrradstadt">Polit-WG fordert die Anwendung der bereits bestehenden Standardanforderungen zur Fahrradstadt</a></li>
</ul>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>2014 hatten wir <a
href="https://www.polit-wg.de/page.php?id=15&lang=de&title=Verkehr%20%26gt%3B%20Fahrradstadt">unsere
Fahrradthesen</a>, die stehen gerade zur Überarbeitung an.</p>
