ja
<p>Wir brauchen dringend durchgängige Fahrradwege. Wir müssen uns trauen, diese
jetzt endlich in einem Aufwasch und ohne Kompromisse umzusetzen. Die ökologisch
notwendige Verkehrswende, die Aufenthaltsqualität aber auch die Sicherheit
sollten uns das wert sein.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>siehe <a href="#03-v-partei">Antwort auf Frage 3</a></p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel 5.6</p>
