ja
<p>Nachdem etliche Mitglieder von Augsburg in Bürgerhand auch in der
Baum-Allianz Augsburg engagiert sind, werden wir selbstverständlich auch dafür
kämpfen, dass die zukünftige Gewichtung viel stärker auf unser Stadtgrün als
auf den Autoverkehr gerichtet werden muss, z.B. mit schrittweiser Reduzierung
von Parkflächen zugunsten von Grünflächen und Fahrradplätzen. Wir erarbeiten
einen „Stadtbäume-Aufforstungsplan“ und werden uns auch weiterhin für mehr
(Stadt-) Bäume und Grünflächen in unserer Stadt einsetzen wie z.B. einen
durchgängigen Grünzug (Wittelsbacher Park–Kö–Plärrer).</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p><a href="https://www.augsburg-in-buergerhand.de/?page_id=672">Hier</a></p>

<p>Gerne verweisen wir auch hierzu auf die <a
href="https://baumallianz-augsburg.de/baum-allianz/grundsaetze">Grundsätze
der Baum-Allianz</a>, die wir vollumfänglich mittragen.</p>
