weder-noch
<p>Das Programm der CSU zur Begrünung der Innenstadt sieht ein Bündel an
geeigneten Maßnahmen vor.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>—</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Umwelt, Klimaschutz und Nachhaltigkeit: S. 35-46</p>
