weder-noch
<p>Die unter Punkt 9 stehenden Forderungen sind nicht gänzlich zu übernehmen. Die
Strafen für Verletzungen der Baumschutzverordnung halten wir für ausreichend.
Auch der Ersatz von bereits vergangenen Fällungen ist realistischerweise nicht
immer durchführbar. Wir werden uns jedoch dafür einsetzen, dass die Augsburger
Stadtbäume in Zukunft klimafit gemacht werden und entsprechend nur
klimatolerante Bäume gepflanzt werden sollen.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Keine Angabe möglich, da wir nicht im Stadtrat vertreten waren.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p><a href="http://www.fdp-augsburg.de/kommunalwahl-2020/wahlprogramm/#wp_5">Kapitel 5</a>.</p>
