ja
<p>Ja! <a href="#06b-generation-aux">Wie oben beschrieben,</a> entstehen durch
das Konzept „Superblocks“ zahlreiche Optionen die Stadt zu begrünen. Auch sind
wir für eine Umwandlung, wie vom Forum Augsburg Lebenswert vorgeschlagen, für
die Ost-West-Achse.</p>
