ja
<p>Wir wollen für Augsburg so viel Natur wie möglich: grüne Inseln auf
Straßen, Gebäuden und Höfen, begrünte Dächer und Parkplätze in
Gewerbegebieten, Fassadenbegrünung oder Baumalleen quer durch die
Stadt. Eine grüne Stadt lässt uns tief durchatmen, kühlt und verbessert
das Klima und bietet Pflanzen und Tieren Platz.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<ol>
<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/gutes_klima_in_einer_gruenen_stadt_masterplan_freiraum/">Antrag vom 09.02.2018:</a>
Gutes Klima in einer grünen Stadt:
Masterplan Freiraum</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/gutes_klima_in_einer_gruenen_stadt_moegliche_baumstandorte_in_der_innenstadt/">Antrag vom 09.02.2018:</a>
Gutes Klima in einer grünen Stadt:
Mögliche Baumstandorte in der Innenstadt</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/gutes_klima_in_einer_gruenen_stadt_richtwerte_fuer_die_gruenversorgung_und_gruenflaechenfond_einrichten/">Antrag vom 09.02.2018:</a>
Gutes Klima in einer grünen Stadt:
Richtwerte für die „Grünversorgung“ und Grünflächenfond
einrichten</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/gutes_klima_in_einer_gruenen_stadt_hof_fassaden_und_dachbegruenungsprogramm/">Antrag vom 09.02.2018:</a>
Gutes Klima in einer grünen Stadt: Hof-,
Fassaden- und Dachbegrünungsprogramm</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/gutes_klima_in_einer_gruenen_stadt_augsburger_standard_fuer_klimagerechtes_und_nachhaltiges_bauen/">Antrag vom 09.02.2018:</a>
Gutes Klima in einer grünen Stadt:
Augsburger Standard für klimagerechtes und nachhaltiges Bauen</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/oekologische_gruenflaechenpflege_in_augsburg/">Antrag vom 28.06.2018:</a>
Ökologische Grünflächenpflege in
Augsburg</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/dringlichkeitsantrag_sachstand_zur_verschaerfung_der_baumschutzverordnung/">Antrag vom 07.03.2018:</a>
Dringlichkeitsantrag: Sachstand zur
Verschärfung der Baumschutzverordnung</li>
</ol>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel 2.1, Seiten 28–34</p>
