ja
<p>Weniger Lärm, Gestank, Gift und Todesgefahr – natürlich wird die Stadt durch
weniger Kraftfahrzeugverkehr attraktiver. Mehr Grün bedeutet bessere Luft, mehr
Artenvielfalt, bessere Lebensbedingungen für alle. Kurz: Entschleunigung und
Raum zum Durchatmen und Abschalten. Mehr konsumfreie Stätten mit hoher
Aufenthaltsqualität! Kurzum: alle werden profitieren.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Wir haben Anträge für mehr Radwege und besseren Radverkehr gestellt, wir
haben Tempo 30 in der Stadt gefordert (2x) und sind jedes Mal am Widerstand des
Baureferats gescheitert: Das sei nicht gesetzlich möglich. Komisch, das
Freiburg es kann... ;-))</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel „Mobilität“, S. 9; Kapitel „Umwelt“ S. 15.</p>
