ja
<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>z.B. Antrag zur Schaffung einer Onlineplattform für die Meldung von neuen
Baumstandorten vom 12.4.2018, Antrag auf Einführung eines Schwarzbuches für
Baumfrevler vom 8.7.2019</p>
