ja
<p>Wir möchten eine städtische Förderung und eine Beratungstelle
für Fassaden- und Dachbegrünung für Bauherren und Bestandsbesitzer.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p><a
href="https://www.polit-wg.de/page.php?id=9&lang=de&title=Stadtentwicklung%20%26gt%3B%20Gartenstadt">Hinweis
auf unser Programm zur Gartenstadt</a>
