ja
<p>Mehr Grün steigert die Aufenthaltsqualität und Schatten, Wasserspeicher und
Luftzirkulation werden im Sommer gerade im Zentrum immer wichtiger. Schwierig,
wenn im Zentrum entweder die Flächen bereits versiegelt sind oder letzte
Flächen für Wohnbebauung von der „Natur befreit werden“ und das Umweltproblem
nicht verstanden wird. Richtig effektiv wäre das Vorhaben, wenn man die Flächen
der Natur und damit dem Baumbewuchs überlässt, die jetzt aktuell für
Fleischproduktion (s.o.) eingesetzt werden.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>siehe <a href="#03-v-partei">Antwort auf Frage 3</a></p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel 5.8</p>
