ja
<p>Der strategische Abzug von Geldern aus klimaschädlichen Vermögensanlagen
(Divestment) und deren nachhaltige Reinvestition im öffentlichen und privaten
Raum sollte vor allem der dezentralen Energiewende zugute kommen und die
Trennung von Geldanlagen in fossile Energieträger voranbringen.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Wir werden diesen Punkt deutlicher in unsere Grundsätze aufnehmen.</p>
