weder-noch
<p>Unsere Bürgermeisterin Eva Weber hat bereits ihre Finanzverwaltung angewiesen,
bei der bald anstehenden Änderung der kommunalen Finanzrichtlinie darauf zu
achten. Ergänzend der Hinweis, dass die Stadt Augsburg aufgrund ihrer
strukturellen Finanzsituation in aller Regel über keine Mittel verfügt, die
längerfristig angelegt werden können. Natürlich soll mit Unternehmen, die mit
fossilen Energieträgern arbeiten, gesprochen werden um Änderungen
herbeizuführen.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Die CSU Fraktion Augsburg hat sich während der gesamten Legislaturperiode
fachlich und inhaltlich mit dem Thema der Luftreinheit und des Klimaschutzes
befasst und sich auf vielen Ebenen und in vielen Einzel- und Bündelmaßnahmen
dafür stark gemacht, u.a. Ausbau ÖPNV, Fahrradstadt, Agenda für Mobilität
u.v.m. Die Ergebnisse sind messbar positiv.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Der Klimaschutz ist keine isoliert zu betrachtende Aufgabe, die einem
Themenfeld zugeordnet werden kann. Maßnahmen zum Klimaschutz finden sich in
vielen Themenbereichen des Wahlprogrammes wieder.</p>

<p>Insbesondere in den Kapiteln: Wirtschaft: S. 19–23, Wohnen: S. 27-31,
Mobilität: S. 32-37, Umwelt, Klimaschutz und Nachhaltigkeit: S. 38-43</p>
