weder-noch
<p>Zum einen ist die Deadline Ende 2020 zu früh gesetzt. Manche Investitionen
werfen auf kurze Sicht gesehen sicherlich gute Renditen für die Stadtkasse
ab.</p>

<p>Auf lange Sicht gesehen sind wir jedoch durchaus der Meinung, dass die Stadt im
Sinne einer rationalen und vorausschauenden Investitionspolitik ihr Geld
verstärkt in Märkte anlegen soll, die auch in 20, 30 oder 40 Jahren
entsprechende Renditen erbringen. Dazu zählen voraussichtlich nicht mehr
klimaschädliche Unternehmungen und Anlagen, sondern solche, die auf zukünftige
(klimatische) Herausforderungen vorbereitet sind.</p>

<p>Dieses Divestment sollte jedoch vor allem in den Bereichen geschehen, die
aktuell nicht unter dem europäischen Emissionshandel (EU ETS) integriert sind,
sprich im Verkehrs- und Wärmebereich. Strom- und Energieunternehmen sind
hingegen bereits im EU ETS integriert und müssen für ihre Emissionen
Zertifikate erwerben. Da durch die Mechanismen des EU ETS ihre Stromerzeugnisse
jedes Jahr „grüner“ werden, ist es sinnlos, Investitionen aus deutschen
Energieunternehmen zu ziehen. Dadurch werden sie in ihren Anstrengungen, die
Energiewende voranzubringen, erheblich geschwächt.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Keine Angabe möglich, da wir nicht im Stadtrat vertreten waren.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>—</p>
