ja
<p>Wir wollen das städtische Finanzvermögen nach Nachhaltigkeitskriterien
und strikten Klimaschutz-Gesichtspunkten anlegen. Das bedeutet keine
Investitionen auf einem Finanzmarkt, der klimaschädliche,
umweltzerstörende, gesundheitsschädigende oder ausbeuterische
Geschäftsmodelle finanziert. Auch dies ist eine Frage konsequenten und
vor allem glaubwürdigen Handelns der Politik.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p><a
href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/klimaschaedliche_und_ethisch_problematische_investitionen_beenden/">Antrag
vom 27.04.2017:</a> Klimaschädliche und ethisch
problematische Investitionen beenden</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel 6.1–6.3, Seiten 102–105</p>
