ja
<p>Ein weites Feld: insbesondere die städtischen Beteiligungen halten Anteile
an Firmen, die im fossilen Energiemarkt tätig sind.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>z.B. mit Antrag zur Umsetzung des sogenannten CO₂-Divestments in der Stadt
Augsburg vom 21.3.2017</p>
