ja

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p><a href="wahlomat/polit-wg-divestment.pdf">Anfrage 2015.</a> Danach mit <a
href="https://gofossilfree.org/de/">Fossil Free Deutschland</a> via
Lokale Agenda 21 Anträge in den Nachhaltigkeitsbeirat.</p>
