ja
<p>Wir regen hier zusätzlich die Schaffung eines Nachhaltigkeitslabels an, das
neben der Motivation und Inspiration auch eine Selbstverpflichtung der
Stadtverwaltung selber sein wird.</p>
<p>Unternehmen sollen mit attraktiven Modellen motiviert werden, auf
Nachhaltigkeit zu setzen. Wir setzen uns für ein prämiertes
Nachhaltigkeitslabel der Stadt Augsburg ein. Bei Ausschreibungen von
öffentlichen Aufträgen der Stadt Augsburg sollen Nachhaltigkeit und
sozialverträgliche Arbeitsverhältnisse eine Vorgabe sein, so dass diese Firmen
verstärkt berücksichtigt werden können.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>siehe <a href="#03-v-partei">Antwort auf Frage 3</a></p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel 1.2</p>
