ja-plus
<p>
    Wir setzen uns für eine sofortige Umsetzung einer regionale Energiewende ein, die die Ziele des
Pariser Klimaabkommens übertreffen.<br>
<br>
Seit 2012 haben wir durch bürgerschaftliche Initiativen am Augsburger Klimaschutzkonzept mitgestaltet und Erweiterungen für die Bürgerbeteiligung ausgearbeitet. Kern dieser Ausarbeitungen ist
das Konzept „Energiedemokratie in Augsburg“. Hiermit werden grundsätzliche technische und wirtschaftliche Umsetzungen beschrieben und die Bürgerbeteiligung mit den Augsburger Stadtwerken als Dienstleister in den Mittelpunkt gestellt. Die Energiewende und damit der Klimaschutz
kann in zwei wesentlichen Phasen in allen drei Sektoren Strom, Wärme und Mobilität umgesetzt
werden.In der 1. Phase können durch einen offensiven Ausbau der Solarenergie (Strom und Wärme) wie im
Augsburger Klimakonzept beschrieben, der Anteil an erneuerbarer Energien gesteigert werden.<br>
<br>
Auch der angepasste Ausbau von Wind und Wasserkraft trägt dazu bei, den Anteil zu steigern. Ein
grundlegender weiterer Schritt ist die Erhöhung der Effizienz und die Kopplung der Sektoren Strom
und Wärme durch Kraft-Wärme-Kopplung (Blockheizkraftwerke). Hiermit könnten in der 1. Phase
über 60 % der benötigten Energie durch erneuerbare gedeckt werden.<br>
<br>
In der 2. Phase könnten regionale Speichertechnologien wie die Methanisierung die 100% Decarbonisierung ermöglichen. Gerade die Technologie einer dezentralen Methanisierung wurde in einem
Modellprojekt in Augsburg, das wir konzeptionell begleitet haben, in einer Wohnanlage in der
Marconistraße realisiert und getestet. Hierbei wird das aus der Verbrennung erzeugte CO2 in Tanks
zwischengespeichert, anschließend wieder für die Methanisierung genutzt und damit im Kreislauf
geführt werden. Damit ergibt sich eine 100% CO2 Neutralität. Auch ein intelligenter Stromnetze
Umbau und die Nutzungdes Gasnetzes als Speicher machen den Ausbau von Stromautobahnen für
die Region überflüssig. Eine regionale Vermarktung von Energie, mit den Stadtwerken als Dienstleister, würde die Wirtschaftlichkeit der Umsetzungen sichern. Mit dem Handwerk und den Bürgern als Partner würde die Wertschöpfung in der Region verbleiben.<br>
<br>
2015 haben wir während des Bürgerbegehrens „Augsburger Stadtwerke in Augsburger Bürger-
hand“ immer wieder die Erweiterung und Umsetzung des Augsburger Klimaschutzkonzepts gefordert. In diesem Zusammenhang haben wir einen Konzeptvorschlag ausgearbeitet, der mehrere Pilotprojekteaus dem Klimaschutzkonzept miteinander verbindet und somit eine umfangreiche Signalwirkung für die Allgemeinheit hätte. Auch jetzt ist politisch eine sofortige Umsetzung einer
breiten Bürgerenergiewende von unten mit den Stadtwerken als Dienstleister zu veranlassen. Damit könnten Ziele des Pariser Klimaschutzabkommens übertroffen werden und Augsburg bis spätestens 2030 100 % fossilfrei sein.
</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>
    Aktive von uns setzen sich schon seit vielen Jahren für den Ausstieg aus der Atomindustrie und der
    fossilen Energiewirtschaft ein. Zahlreiche Demonstrationen und Veranstaltungen sind ein Beleg
    dafür. Grundlage unserer Tätigkeit ist die <a href="https://www.attac-netzwerk.de/fileadmin/user_upload/Gruppen/Augsburg/Sonst_Dateien/energiekonzept-2012-gesamt.pdf">Broschüre von „Attac-Augsburg“ aus dem Jahre 2012</a> „Energiedemokratie in Augsburg“,das wir vollumfänglich mittragen.
</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>
<a href="https://www.augsburg-in-buergerhand.de/?page_id=632">https://www.augsburg-in-buergerhand.de/?page_id=632</a>
</p>