weder-noch-plus-leer
<p>Wir werden uns dafür einsetzen, dass Augsburg im Rahmen seiner
(finanziellen) Möglichkeiten Treibhausgase kompensieren wird und sich für die
Auswirkungen des Klimawandels wappnen wird. Die Frage an sich ist irreführend
und erweckt den Eindruck, Augsburg hätte einen bestimmten Anteil am Pariser
Klimaabkommen zu erfüllen. Dies ist nicht der Fall. Allein die Bundesrepublik
ist verpflichtet, ihren Anteil am Pariser Klimaabkommen zu melden. Das im
Rahmen des Pariser Übereinkommens festgelegte NDC (nationally determined
contribution) ist durch unterschiedliche Maßnahmen innerhalb Deutschlands zu
erreichen. Ob und wie die Stadt Augsburg daran beteiligt ist, spielt für das
Erreichen des deutschen NDC eine untergeordnete Rolle.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Keine Angabe möglich, da wir nicht im Stadtrat vertreten waren.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Der Klimaschutz wird in <a
href="http://www.fdp-augsburg.de/kommunalwahl-2020/wahlprogramm/#wp_5">Kapitel
5 unseres Kommunalwahlprogramms</a> behandelt.</p>
