ja
<p>Das Pariser Klimaabkommen formuliert in unseren Augen Mindestanforderungen.
Wir werden alle Anstrengungen unterstützen, welche in einer effektiven und
zielorientierten Weise die Erreichung der Klimaschutzziele fokussieren.</p>
<p>Wir denken aber noch weiter. Natürlich gibt es in den Städten das größte
Potenzial, um den Klimawandel zu verlangsamen oder bestenfalls sogar zu
stoppen.</p>
<p>Immer nur zu reagieren reicht aber nicht im Hinblick auf die zu erwartenden
Veränderungen. Die Stadt muss fähig sein immer extremere Umwelteinflüsse
unterschiedlichster Art zu verkraften und dafür muss sie lernfähig werden. Die
Stadtentwicklung muss deshalb künftig vor allem an einer Steigerung der
Klimaresilienz ausgerichtet werden. U.a. könnte z.B. der Siebentischwald nach
und nach mit stressresistenten Bäumen umstrukturiert werden. Auch könnten in
vielen Gebieten wie der Stadtmitte (Karlstraße), Oberhausen und Lechhausen
Flächen entsiegelt und begrünt werden.</p>
