ja-plus
<p>Das Klimaschutzprogramm 2020 wird fortgeschrieben, um die
Klimaschutzmaßnahmen in allen Sektoren zu verstärken. Ziel muss dabei
sein, dass die Ziele des Pariser Abkommens durch entsprechende
Maßnahmen erreicht werden. Dies hat der Stadtrat bereits beschlossen.
Unser GRÜNES Ziel ist es, Augsburg so schnell wie möglich zur
klimaneutralen Stadt zu machen. Je früher, desto besser. Wir wollen
Klimaschutz mit klaren Konzepten umsetzen, indem wir den Augsburger
Klimaschutzpfad zur Klimaneutralität mit verbindlichen Zielen in allen
Sektoren beschreiben. Damit Klimaschutz wirkungsvoll ist, muss jährlich
über die Fortschritte berichtet werden. Die Klimaschutzabteilung soll daher
weiter ausgebaut werden.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>siehe Antwort zu Frage 3</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>siehe Antwort zu Frage 3</p>
