ja-plus-leer
<p>Ohne das Pariser Klimaschutzabkommen zu erwähnen, haben wir in unserem
Programm viele Punkte um den CO₂-Ausstoß in Augsburg massiv zu senken (siehe
Frage 3 und 2).</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Siehe vorherige Antworten.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Siehe vorherige Antworten.</p>
