ja-plus
<p>Ist sowieso Programm der ÖDP!</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>z.B. Antrag zur Finanzsituation bei der Grünflächenerstellung und -pflege vom 25.1.
2016</p>
