ja-plus
<p>Das regionale Klimaschutzkonzept der Stadt Augsburg und der angrenzenden
Landkreise stammt aus dem Jahr 2011 und war ein wichtiger Meilenstein für die
kommunale Klimapolitik. Die Welt hat sich in der Zwischenzeit fast 10 Jahre
weitergedreht. Neue Technologien und neue wissenschaftliche Erkenntnisse geben
neue Möglichkeiten für den kommunalen Klimaschutz. Das Pariser Klimaabkommen
stammt aus dem Jahr 2015 und ist folglich nicht berücksichtigt. Wir halten die
zeitnahe Fortschreibung des Klimaschutzkonzepts für erforderlich.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>siehe <a href="#03-spd">Antwort auf Frage 3</a></p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>siehe <a href="#03-spd">Antwort auf Frage 3</a></p>
