ja-plus-leer
<p>
    Das Pariser Klimaschutzabkommen vom Dezember 2015 hat leider einen großen Verursacher außer
Acht gelassen: die Landwirtschaft mit ihrer Massentierhaltung! Die Lobbyisten konnten erreichen,
dass bereits formulierte Forderungen wieder gestrichen wurden.<br>
<br>
Insoweit ist für die V-Partei3 das Abkommen nicht weit genug ausgearbeitet, so dass wir hier auf
regionaler Ebene diese fehlende Punkte selbstverpflichtend berücksichtigen müssten, wenn wir
den Klimaschutz tatsächlich ernst nehmen wollen.
</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>
    siehe oben. Wir haben aber auch bereits die Klimaoffensive konkret in einer Aufforderung an die
    Stadt Augsburg mit konkreten Vorschlägen eingefordert, wurden hier aber vom grünen Umweltreferenten nicht ernst genommen.
</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>
    Das Thema Klimaschutz zieht sich über unser gesamtes Programm. Beispielsweise über die Kapitel
    1, 2, 5, 6.1, 7.3, 8.2, 10.1
</p>