ja
<p>Ein Abkommen ist dafür da, eingehalten zu werden. Von allen Beteiligten.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>siehe <a href="#03-wsa">Antworten zu Frage 3</a></p>
