ja
<p>Augsburg muss eine Vorbildfunktion in der Umsetzung einer dezentralen
Energiewende einnehmen, die einen großen Beitrag ausmachen kann, wenn unsere
Ausführungen bei der Beantwortung der <a href="#04-aib">Frage 4</a> zur Grundlage gemacht
werden.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p><a href="https://www.augsburg-in-buergerhand.de/?page_id=682">Hier</a></p>

<p>Zahlreiche Vorträge im Rahmen unseres Bürgerbegehrens und Bürgerentscheids
„Augsburger Stadtwerke in Augsburger Bürgerhand“ und in der Energiedemokratie
Vortragsreihe von Attac-Augsburg.</p>
