ja
<p>Die Stadt und ihre Behörden haben eine Vorbildfunktion in Sachen Klimaschutz
einzunehmen. D.h. zum Beispiel, dass Behördenfahrzeuge auf alternative
Antriebe umgestellt werden oder auf Dächern der Stadtverwaltung PV-Anlagen bzw.
Dachbegrünungen installiert werden.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Keine Angabe möglich, da wir nicht im Stadtrat vertreten waren. Siehe <a
href="http://www.fdp-augsburg.de/news/augsburg-kann-beim-klimaschutz-mehr-selbst-tun/">hier</a>.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p><a href="http://www.fdp-augsburg.de/kommunalwahl-2020/wahlprogramm/#wp_5">Kapitel 5</a>.</p>
