ja
<p>Wir müssen die Klimaschutzziele des Pariser
Abkommens erreichen. Dazu müssen alle ihren Beitrag leisten, denn dies
wird nur gemeinsam gelingen. Und natürlich hat die Kommune eine
Vorbildfunktion, der sie unbedingt nachkommen muss. Dies ist auch eine
Frage der Glaubwürdigkeit.</p>

<p>Wir schlagen deshalb verschiedene Maßnahmen vor Ort vor: Wir wollen
Solarzellen auf möglichst jedem Dach, damit der Strom für die
Waschmaschine vom Dach und nicht aus einem AKW kommt. Und
natürlich müssen Solarmodule auf alle öffentlichen Gebäude. Wir wollen
Privatpersonen, Genossenschaften und Mietergemeinschaften für
Mieterstrommodelle begeistern. Unser Ziel ist, dass die swa 100 Prozent Strom
aus Erneuerbaren Energien liefern. Und wir wollen Fernwärme CO2-neutral
ausbauen, Nahwärme effektiv einsetzen und das Potential für Solarthermie besser
ausschöpfen, sie soll analog zum Solarstrom gefördert werden.</p>

<p>Wir wollen zudem den Augsburger Standard für klimagerechtes und
nachhaltiges Bauen einführen. Denn wir können heute schon klimaneutral
und nachhaltig bauen. Wir können natürliche Materialien und Baustoffe
wählen, die wenige Ressourcen verbrauchen. Dass es geht, zeigt das auf
diese nachhaltige Weise geplante Umweltbildungszentrum.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>siehe Anträge unter Frage 3</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel 1.2, Seiten 14–20</p>
