ja
<p>Grundsätzlich ist es immer gut, wenn die Kommune eine Vorbildfunktion in den
Sachen einnimmt, die sie selbst auch von den Bürgern fordert. Augsburg befindet
sich auf einem guten Weg mit der Lokalen Agenda 21, dem Büro für
Nachhaltigkeit, dem Bemühen um Fair Trade und Bioqualität. Das Problem ist,
dass viele weitergehende Initiativen hier immer wieder am Geld und politischen
Willen scheitern.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>—</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Kapitel „Umwelt“, ab S. 15.</p>
