ja
<p>Die Stadt kann nicht nur immer von den BürgerInnen und der Wirtschaft
fordern, dass diese sich für den Klimaschutz engagieren. Die Stadt muss mit
gutem Vorbild vorangehen. Dass z.B. bis heute auf keiner der riesigen
Messehallen der Messe Augsburg auch nur ein Sonnenkollektor liegt ist eine
Schande.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>z.B. Anträge zu Photovoltaikanlagen auf Städtischen Liegenschaften vom
17.6.2018</p>
