ja
<p>Auch hier sollte sich die Stadt an die Zukunftsleitlinien halten.
Der Einsatz von Recyclingpapier soll verpflichtend sein.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p><a href="wahlomat/polit-wg-recyclingpapier.pdf">siehe hier</a></p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Einiges in Arbeit&hellip;</p>
