weder-noch
<p>Zu viele Wege in Augsburg werden mit dem Auto zurückgelegt. Auch solche
Wege, für die es bessere Alternativen gibt. Von daher sind wir überzeugt, dass
die Bedeutung des Autos für die Mobilität in Augsburg abnehmen muss und wird.
Augsburg bietet dafür grundsätzlich ganz gute Voraussetzungen: Die Topografie
begünstigt bspw. das Fahrradfahren, weil es im Vergleich zu anderen Städten
kaum größere Steigungen gibt.</p>
Mittelfristig werden wir aber nicht gänzlich autofrei werden können, weil es
einige Menschen gibt, die aufgrund ihres Berufs, ihrer familiären Situation
oder aufgrund bestehender körperlicher Einschränkungen auf das Auto angewiesen
sind. Hier wird es darauf ankommen, klimafreundliche Antriebsarten stärker zu
nutzen als bisher und den Ausbau von alternativen Angeboten weiter
voranzutreiben.</p>
Zusammengefasst: Weniger Autos. Mehr ÖPNV. Mehr Radverkehr. Wenn Auto, dann
möglichst klimafreundlicher Antrieb.</p>
