ja
<p>Wir sind Umwelt- und Friedensstatt. Titel alleine reichen nicht, wir müssen
das auch leben und umsetzen. Es hilft auch nicht, eine Personalstelle nach der
anderen zu schaffen, wenn unterm Strich nur Papier produziert wird. Konkrete
Maßnahmen lassen sich schnell und einfach umsetzen, wenn man denn nur
möchte.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>siehe <a href="#03-v-partei">Antwort auf Frage 3</a></p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Präambel, Seite 1</p>
