table { border-collapse: collapse; width: 69.5em; }
@media (min-width: 99.5em) {
  table { margin-left: -22.5em; }
}
@media screen and (min-width: 50em) and (max-width: 99.5em) {
  table { margin-left: -7.5em; }
}

.dots {
  width: 4.5em;
  border: 0.3em dotted rebeccapurple; border-right: 0; border-top: 0; border-bottom-color: white;
  margin: 0;
  text-align: center;
}

.dots img { width: 3em; position: relative; left: -2.4em; top: -1em; }
.key { text-align: left; }
.key img { width: 3em; vertical-align: middle; }

th { text-align: left; max-width: 20em; padding-bottom: 2em; padding-right: 3em; vertical-align: top; }

.response p { max-width: 40em; margin-left: auto; margin-right: auto; }
.response { padding-left: 0.5em; padding-right: 0.5em; background-color: white; overflow-y: auto; z-index: 1; background-color: #eee; }

.close { float: right; font-weight: bold; text-decoration: none; font-size: x-large; }

@media (min-width: 99.5em) {
  .response { position: fixed; top: 2em; left: calc(50vw + 21.0em); border: 2px solid black; margin-right: 1em; bottom: 2em; width: 30em; }
}
@media not screen and (min-width: 99.5em) {
  .response { border-top: 2px solid black; position: fixed; left: 0; right: 0; bottom: 0; top: 50%; }
  .close { font-size: 300%; right: 0.5em; }
}
.response { display: none; }
.response:target { display: block; }

table a { text-decoration: none; }
table a:hover { text-decoration: underline; }

.parties img { width: 3em; transform: rotate(-45deg); padding-bottom: 2em; }

input.more { opacity: 0; position: absolute; }
label.more { cursor: pointer; color: #009ee0; font-weight: bold; }
div.more { transition: all 0.15s, font-size 0s; display: block; background-color: #55def0; }
input.more:not(:checked) ~ div.more { max-height: 0; font-size: 0px; visibility: hidden; }
input.more:checked ~ div.more { max-height: 200vh; }
p label.more:after {
  content: "\276F";
  width: 1em;
  height: 1em;
  padding-left: 1em;
  text-align: center;
  transition: all .15s;
  display: inline-block;
}
input.more:checked ~ p label.more:after { transform: scaleX(-1); }
