ja-plus-leer
<p>
    Die Zielsetzung muss ein kostenfreier ÖPNV sein. Wir treten für einen überparteilichen Zusammenschluss ein, um die notwendigen Finanzmittel von Land und Bund einzuholen. Die unter Punkt
3 genannten Ausführungen von „Augsburg handelt“ erfahren unsere Zustimmung. Wir brauchen
jedoch jetzt die sofortige Zurücknahme der „Tarifreform“, die Einführung eines Jahrestickets nach
Wiener Vorbild und die Abschaffung der zeitlichen Beschränkungen bei Abos.
</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>
<a href="https://www.augsburg-in-buergerhand.de/?page_id=682">https://www.augsburg-in-buergerhand.de/?page_id=682</a>
</p>