weder-noch-plus-leer
<p>Die CSU-Fraktion hat in der Zeit ihrer Regierungsbeteiligung von 2008 an für
die infrastrukturell massivsten Verbesserungen im ÖPNV seit Jahrzehnten in
Augsburg gesorgt: Der Umbau des Umsteigedreiecks am Königsplatz, des
Hauptbahnhofes, der Ausbau des Liniennetzes, wie jetzt gerade die Linie 3, die
kostenfreie City-Zone sind nur einige wenige Beispiele. Bei den Abos im ÖPNV
gehört Augsburg zu den <a href="https://www.testberichte.de/tb/nahverkehr-ranking-2019.html#nahverkehr-auswertung">günstigsten kommunalen Anbietern (Platz 10)</a> und mit der
Mobilitäts-Flatrate zu innovativsten Städten in Deutschland. Mit dem
Schülerticket hat die Stadt Augsburg außerdem Anreize geschaffen, auch in
jungen Jahren mit öffentlichen Verkehrsmitteln vertraut zu werden und sie als
selbstverständliches Mobilitätsmittel anzuerkennen.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Die CSU Fraktion Augsburg hat sich während der gesamten Legislaturperiode
fachlich und inhaltlich mit dem Thema der Luftreinheit und des Klimaschutzes
befasst und sich auf vielen Ebenen und in vielen Einzel- und Bündelmaßnahmen
dafür stark gemacht, u.a. Ausbau ÖPNV, Fahrradstadt, Agenda für Mobilität
u.v.m. Die Ergebnisse sind messbar positiv.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Mobilität: S. 32-37</p>
