ja-plus-leer
<p>Wir streben an, den öffentlichen Nahverkehr so attraktiv zu machen, dass er
zu einer echten Alternative zum Auto wird. Dafür wollen wir den Augsburger ÖPNV
besser mit dem Regionalverkehr vernetzen und äußere Stadtteile besser anbinden.
An Bus- und Straßenbahnhaltestellen wollen wir ein besseres Angebot an
Fahrrad-Abstellplätzen schaffen.</p>

<p>Auch, wenn wir eine Tarifreform anstreben, die den ÖPNV günstiger macht, lehnen
wir Kostenlosangebote ab. Einersets gibt es keine empririschen Anhaltspunkte
dafür, dass ein Nulltarif Autofahrer zum Umsteigen bewegt. Zum anderen
verschlingen Kostenlosangebote große Geldsummen, die dann nicht für die
Verbesserung des Angebots zur Verfügung stehen.</p>

<p>Den barrierefreien Zugang zu Regionalbahnen sowie den Bau weiterer Bahnhöfe
können wir nicht zusagen, da hierfür nicht die Kommune zuständig ist.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Keine Angabe möglich, da wir nicht im Stadtrat vertreten waren.</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>ÖPNV (1.1) und Fahradverkehr (1.2) finden sich im <a
href="http://www.fdp-augsburg.de/kommunalwahl-2020/wahlprogramm/#wp_1">ersten Kapitel unseres
Kommunalwahlprogramms</a>.</p>
