ja-plus
<p>Wir möchten den ÖPNV so schnell wie möglich weiter ausbauen. Wir
wissen aber, dass es dazu abgesprochene, akzeptierte, rechtskräftige
Planungen und die nötigen Finanzmittel bedarf.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Hier nur einige Beispiele von GRÜNEN Anträgen, die alle das Ziel hatten
den ÖPNV zu stärken:</p>

<ol>
<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/masterplan_nachhaltige_mobilitaet_massnahmen_zur_staerkung_des_oepnv_gegenueber_dem_miv/">Antrag vom 28.03.2018:</a>
Masterplan nachhaltige Mobilität:
Maßnahmen zur Stärkung des ÖPNV gegenüber dem MIV</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/finanzierung_von_verbesserungen_an_der_tarifreform/">Antrag vom 19.01.2018:</a>
Finanzierung von Verbesserungen an der Tarifreform</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/transparenz_ueber_die_finanzierung_der_betriebskosten_der_verkehrssparte_der_stadtwerke-5/">Antrag vom 19.01.2018:</a>
Transparenz über die Finanzierung der Betriebskosten der Verkehrssparte der Stadtwerke</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/park_ride_parkplaetze/">Antrag vom 14.12.2017:</a>
Park &amp; Ride-Parkplätze</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/aenderungantrag_zur_beschlussvorlage_einfuehrung_schuelerticket/">Antrag vom 18.10.2017:</a>
Änderungsantrag zur Beschlussvorlage "Einführung Schülerticket"</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/ergaenzungsantrag_tarifreform_gleitende_gueltigkeit_von_monatstickets/">Antrag vom 29.06.2017:</a>
Ergänzungsantrag Tarifreform, gleitende Gültigkeit von Monatstickets</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/dringlichkeitsantrag_avv_tarifreform/">Antrag vom 14.06.2017:</a>
Dringlichkeitsantrag AVV-Tarifreform</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/taktverdichtung_der_linie_32_zum_zoobotanischen_garten_einfuehrung_kombi_tickets/">Antrag vom 20.03.2019:</a>
Taktverdichtung der Linie 32 zum Zoo/Botanischen Garten / Einführung "Kombi-Tickets"</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/antrag_mobilitaetsbeirat_markierung_fahrradstrasse_eichleitnerstrasse/">Antrag vom 11.03.2019:</a>
Antrag Mobilitätsbeirat</li>

<li><a href="https://gruene-augsburg.de/fraktion00/antraege1/antraege-detail/article/aenderungsantrag_zur_bsv1801615_avv_tarifreform/">Antrag vom 16.05.2018:</a>
Änderungsantrag zur AVV-Tarifreform</li>
</ol>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>Seiten 44–57: Mobilitätswende; Seiten 49–51: Mit Bus und Straßenbahn durch Augsburg.</p>
