ja-plus-leer
<p>Unser Programm sieht vor, den ÖPNV für die Nutzer kostenlos zu gestalten.
Als Zwischenschritt wollen wir ihn zunächst für Menschen mit weniger Geld, also
Schüler*innen, Studierende, Rentner*innen, Auszubildende und
Hartz-IV-Empfänger*innen kostenlos zu machen.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>Wir haben viele Anträge und Anfragen zum Sozialticket und
Schüler*innenticket gestellt. Wir haben auch bei der Ausarbeitung der
Tarifreform unsere Bedenken geltend gemacht, ohne jedoch gehört zu werden.</p>