ja-plus
<p>Nur wenn wir den öffentlichen Nahverkehr so attraktiv machen, dass die
BürgerInnen lieber damit fahren als mit ihrem privaten Kraftfahrzeug, können
wir die Verkehrswende schaffen. Dazu müssen erst einmal die Verkehrsströme nach
jeweiliger Quelle und Ziel erfasst werden. Eine rein zählende Modellierung
ergibt kein schlüssiges Bild über die wirklichen Bedürfnisse der BürgerInnen.
Sobald die Wegebeziehungen klar sind, kann man beginnen hier jeweils
öffentliche Linienverkehre oder Sammeltaxis einzusetzen.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>z.B. Anfragen und Anträge zur Schienenanbindung von Augsburg in den Münchner Norden
zuletzt am 21.5.2018</p>
