weder-noch-plus-leer
<p>Die SPD war die einzige Partei, die gegen die Tarifreform des AVV und die damit
verbundenen Verschlechterungen beim Nahverkehr gestimmt hat. Wir halten es für
falsch, den ÖPNV nach rein ökonomischen Gesichtspunkten zu betrachten. Der
Ausbau des ÖPNV ist aber nicht nur aus Gründen des Klimaschutzes wichtig. Ein
leistungsfähiger ÖPNV ist für viele Menschen wichtig, um soziale Teilhabe
sicherzustellen.</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>siehe <a href="#03-spd">Antwort auf Frage 3</a></p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>siehe <a href="#03-spd">Antwort auf Frage 3</a></p>
