ja-plus
<p>
    Um spürbare und rasche Veränderungen zu erzielen, hilft ein kostenloser ÖPNV. Lediglich eine kostenlose City-Zone rund um den Königsplatz ist zwar eine nette Symbolik, allerdings nicht effektiv. Die V-Partei<sup>3</sup> setzt sich für die komplett kostenfreie Nutzung von Bus und Straßenbahn im gesamten Stadtgebiet Augsburg ein! Nur damit lässt sich der PKW-Verkehr im Zentrum Augsburgs spürbar verringern.<br>
<br>
Durch einen fahrscheinlosen ÖPNV lassen sich Teile der anfallenden Kosten direkt einsparen oder
senken, z. B. durch den Verzicht auf Fahrkartenautomaten und -kontrollen. Dazu kommen indirekte Einsparungen durch Verbesserung der Luftqualität, weniger Umwelt- und Klimabelastung, weniger Verkehrsunfälle, geringere Kosten für Straßenbau und -sanierung, weniger Platzverbrauch und
steigende Lebensqualität und Attraktivität für Touristen. Weitere Einnahmen zur Kompensation
lassen sich durch ein besseres Parkgebührenmanagement (siehe „Semmeltaste“) oder Quersubventionierung nach der Rekommunalisierung der Stadtwerke GmbHs im Rahmen eines Mobilitätsmasterplans (Carsharing, Leihräder, ElektroScooter) realisieren. Noch Potential in Sachen Refinanzierung besteht bei der Zurverfügungstellung von Werbeflächen auf den jeweiligen Transportfahrzeugen. Viele Straßenbahnen tragen keine oder z. B. Werbung der Stadtwerke selber, was wohl
keine Einnahmen produziert und daher aus Sicht der Bürger*innen wenig Sinn ergibt. Wir als V-Partei<sup>3</sup> hätten gerne auf Werbeplakate verzichtet und stattdessen das Geld in eine Straßenbahnbe-
schriftung investiert, was allerdings leider abgelehnt wurde.<br>
<br>
Auch werden Gelder nach einem Ausstieg der Stadt Augsburg aus der Flughafen GmbH frei, die für
den kostenlosen ÖPNV eingesetzt werden können.<br>
<br>
Zuschussmöglichkeiten über die ÖPNVZuwendungsrichtlinien (RZÖPNV) des Freistaates Bayern
sind auszuschöpfen.<br>
<br>
Unser Ziel ist es, das ÖPNV-Angebot in Augsburg mittelfristig so auszubauen, dass in Verbindung
mit dem Fahrradverkehr und Carsharing bei der Personenbeförderung die Nutzung privater PKWs
spürbar reduziert wird.
</p>

<p><strong>Wie haben Sie sich konkret für diese Frage in der laufenden
Legislaturperiode (bis März 2020) dafür eingesetzt (Anträge, Vorschläge,
Veröffentlichungen, &hellip;)?</strong></p>

<p>
    Siehe oben
</p>

<p><strong>Wo findet sich dieser Punkt in ihrem Kommunalwahlprogramm für 2020 wieder?
(Kapitel + Seite)</strong></p>

<p>
    Kapitel 5.1 – 5.7
</p>